body{
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    background-color: rgb(227, 188, 255);

}

.circular{
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    margin: auto;

}
.wrap{
    color: white;

    

}
section > li > a {
    color: white;
    text-decoration: none;
    text-justify: auto;


}
.name{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

section {
    padding: 0.5rem;
    text-decoration: none;
}
.center{
    background-color: rgb(206, 94, 228);
    border-radius: 50px;
    padding: 20px;
}
.first_name{
    text-align: center;
    font-size: larger;
    font-weight: 600;
    font-style: normal;   
    margin: 2px;
    padding: 2px;
}
.at{
    text-align: center;
    font-weight: 300;
    font-style: normal;  
    opacity: 80%;
    margin: 2px;
    padding: 2px;
}
.work{
    text-align: center;
    font-weight: 200;
    font-style: normal;  
    margin: 2px;
    padding: 2px;
}
.tags{
    text-align: center;
    font-weight: 300;
    font-style: normal;  
    opacity: 80%;
    margin: 2px;
    padding: 2px;
}